{%- if cookiecutter.password_manager == "1Password" -%}
export AWS_ACCESS_KEY_ID="op://"
export AWS_SECRET_ACCESS_KEY="op://"
export AWS_ENDPOINT_URL_S3="https://{{ "{{op://CLOUDFLARE_ACCOUNT_TAG_GOES_HERE}}" }}.r2.cloudflarestorage.com"
export CLOUDFLARE_API_TOKEN="op://"
{%- else -%}
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_ENDPOINT_URL_S3="https://{{ cookiecutter.cloudflare_account_tag }}.r2.cloudflarestorage.com"
export CLOUDFLARE_API_TOKEN=""
{% endif %}
